.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  font-family: var(--ff-title);
  font-size: var(--fs-200);
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 25vh;
  color: var(--clr-accent2);
  margin-top: 1rem;
  border-top: 4px solid #3a3a3e;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  font-family: var(--ff-title);
  font-size: var(--fs-200);

  min-height: 25vh;
  color: var(--clr-accent2);
  margin-top: 1rem;
}
.footer__wrapper > * {
  /* outline: 2px solid tomato; */
}
.footer__logo {
  width: 100px;
}
.footer__copyright {
  text-align: center;
  font-family: var(--ff-body);
}
.footer__author {
  text-align: center;
  font-family: var(--ff-body);
}
.footer__details {
  border-top: 1px solid #3a3a3e;
  margin-top: 1rem;
  padding-top: 1rem;
}

.footer__github-log{
  width: 4rem;
  padding-top: 1rem;
 
}
@media screen and (min-width: 992px) {
  .footer {
    padding-top: 0;
    margin-top: 0;
    border-top: 4px solid #3a3a3e;
  }
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footer__logo {
    width: 15vw;
    border-right: 4px solid #3a3a3e;
    height: 25vh;
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }

  .footer__details {
    display: flex;
    border: none;
    padding-right: 2rem;
  }
  .footer__author {
    margin-left: 5rem;
  }

  .footer__wrapper {
    padding-top: 0;
    margin-top: 0;
  }

.footer__github-log{
  width: 4rem;
}

}
