/* overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 2rem;
  background-color: #253a4a;
  box-shadow: var(--box-shadow-0);
  text-shadow: var(--text-shadow-1);
  border-radius: 5px;
}
/* stop scrolling when modal open */
.lock-scroll {
  overflow: hidden;
}

.form-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-title {
  font-family: var(--ff-body);
  font-size: 1.5rem;
  font-weight: 500;
  color: #55f79d;
  margin-right: 0.6rem;
}

.modal-form__title,
.modal-form__description,
.modal-form__language,
.modal-form__submit-btn {
  border-radius: 5px;
  margin-top: 12px;
  padding: 7px 14px;
  font-family: "Barlow", sans-serif;
  flex-shrink: 0;
  flex-grow: 1;
  margin-left: 5px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal__close-btn {
  cursor: pointer;
  font-family: var(--ff-title);
  font-weight: bold;
  color: #55f79d;
  background-color: transparent;
  font-size: 1.5rem;
}
.modal__close-btn:hover {
  cursor: pointer;
  color: hsl(147, 91%, 45%);
}
.modal__close-btn:active {
  cursor: pointer;
  transform: scale(0.88);
}
.modal-form__submit-btn {
  background-color: var(--clr-primary);
  cursor: pointer;
  width: 50%;
  margin: 12px auto 0;
}
.modal-form__submit-btn:hover {
  background-color: hsl(205, 78%, 54%);
}
.modal-form__submit-btn:active {
  transform: scale(0.98);
}
/* larger than mobile */
@media screen and (min-width: 992px) {
  .modal {
    width: 60%;
  }
  .form-title {
    margin-left: 37%;
  }
  .modal-form {
    align-items: center;
  }

  .modal-form__title,
  .modal-form__description,
  .modal-form__language {
    width: 50%;
  }

  /* .modal-form__submit-btn {
    width: 15%;
  } */
}
